@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');
* {
    box-sizing: border-box;
}

h2 {text-align: center}

html {
    font-size: 80.5%;
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    background-image: url("https://mediaim.expedia.com/destination/2/af26d1ca1a3dbf0ef2a6bbab7ea328f2.jpg?impolicy=fcrop&w=536&h=384&q=high");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  }

  
  p {
    color: rgb(83, 25, 25);
    font-size: 2rem;
  }
  
  .container {
    background-color: rgba(203, 213, 241, 0.5);
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 15px 10px rgba(25, 38, 218, 0.3);
    overflow: hidden;
    width: 500px;
    max-width: 100%;
  }

  .header {
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 20px 40px;
}
  
  .center-content {
    max-width: 70rem;
    margin: 0 auto;
  }
  
  .form {
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    padding: 2rem;
    
  }
  
  fieldset {
    border: none;
  }
  legend {
    color: gray;
    text-transform: capitalize;
    font-size: 2.5rem;
    position: relative;
    margin: 0 auto;
  }
  
  label {
    font-weight: 400;
    text-transform: capitalize;
    display: block;
  }
  input,
  select {
    padding: 0.8rem;
    display: block;
    width: 100%;
    background-color: #fff;
    border: 1px solid #BDC7C9;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .button {
    width: 20rem;
    margin: 0 auto;
    display: block;
    padding: 1.5rem;
    color: rgb(255, 255, 255);
    background-color: #1c7174;
    border-radius: 1rem;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
  }
  
